<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Component details')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>
<h1 th:text="${#strings.capitalize(type)} + ' toevoegen'"></h1>
<main th:object="${component}" th:if="${component}" class="container">
<!--    <div th:switch="${type}">-->
<!--&lt;!&ndash;        CPU&ndash;&gt;-->
<!--        <div th:case="'processor'">-->
<!--            <h2>Voeg een processor toe</h2>-->
<!--            <form th:action="@{/admin/addcomponent/{type}/{id}(type=${type}, id=${id})}" method="post">-->
<!--                        <h3>Fabrikant</h3>-->

<!--                <label for="name">Processor naam:</label>-->
<!--                <input type="text" id="name" name="name"><br><br>-->

<!--                <label for="description">Description:</label>-->
<!--                <textarea id="description" name="description"></textarea><br><br>-->

<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
</main>

</body>
</html>
