<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('RAM details')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<main th:object="${memory}" th:if="${memory}">
    <h1>Memory Specifications</h1>
    <div class="container">
        <h2 th:text="${memory.name}"></h2>

        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Manufacturer</h3>
                <h4 th:text="${memory.manufacturer}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Capacity</h3>
                <h4 th:text="|${memory.memoryCapacity} GB|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Memory Type</h3>
                <h4 th:text="${memory.memoryType}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Timings</h3>
                <h4 th:text="${memory.timings}"></h4>
            </div>
        </div>
        <div class="col-6 col-sm-4 p-1 m-1">
            <h3>Max Clock Speed</h3>
            <h4 th:text="|${memory.clockSpeed} GHz|"></h4>
        </div>

    <div class="row p-2">
        <div class="col-6 col-sm-4 p-1 m-1">
            <h3>Price</h3>
            <h4 th:text="${#strings.replace(#numbers.formatDecimal(memory.price,0,'POINT',2,'COMMA'),',00', '') }+' EURO'"></h4>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5 bottom-margin">
        <a class="button btn btn-secondary" th:href="@{|/components/memory/${previousId}|}"><<</a>
        <a class="button btn btn-secondary" th:href="@{|/components|}">Go back</a>
        <a class="button btn btn-secondary" th:href="@{|/components/memory/${nextId}|}">>></a>
    </div>
    </div>
</main>

<main th:object="${memory}" th:unless="${memory}">
    <h3>No memory found.</h3>
    <a class="button btn btn-primary mt-5" th:href="@{|/templates/components|}">Go back</a>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</html>