<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Processor details')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<main th:object="${cpu}" th:if="${cpu}">
    <h1>Processor Specifications</h1>
    <div class="container">
        <h2 th:text="${cpu.name}"></h2>

        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Manufacturer</h3>
                <h4 th:text="${cpu.manufacturer}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Architecture</h3>
                <h4 th:text="${cpu.architecture}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Socket Type</h3>
                <h4 th:text="${cpu.socketType}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Model</h3>
                <h4 th:text="${cpu.cpuModel}"></h4>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Max Clock Speed</h3>
                <h4 th:text="|${cpu.clockSpeed} GHz|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Core Count</h3>
                <h4 th:text="|${cpu.coreCount} cores|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Wattage</h3>
                <h4 th:text="|${cpu.wattageUsage} watt|"></h4>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Price</h3>
                <h4 th:text="${#strings.replace(#numbers.formatDecimal(cpu.price,0,'POINT',2,'COMMA'),',00', '') }+' EURO'"></h4>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5 bottom-margin">
            <a class="button btn btn-secondary" th:href="@{|/components/processors/${previousId}|}"><<</a>
            <a class="button btn btn-secondary" th:href="@{|/lists/processorlist|}">Go back</a>
            <a class="button btn btn-secondary" th:href="@{|/components/processors/${nextId}|}">>></a>
        </div>
    </div>
</main>

<main th:object="${cpu}" th:unless="${cpu}">
    <h3>No cpu found.</h3>
    <a class="button btn btn-primary mt-5" th:href="@{|/templates/components|}">Go back</a>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</html>