<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Storage details')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<main th:object="${data}" th:if="${data}">
    <h1>Storage Specifications</h1>
    <div class="container">
        <h2 th:text="${data.name}"></h2>

        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Manufacturer</h3>
                <h4 th:text="${data.manufacturer}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Model</h3>
                <h4 th:text="${data.dataModel}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Interface</h3>
                <h4 th:text="|${data.interfaceType} connection|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Type</h3>
                <h4 th:text="${data.storageType}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Cache</h3>
                <h4 th:text="|${data.cacheMemory} MB|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Capacity</h3>
                <h4 th:text="|${data.capacity} GB|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Wattage</h3>
                <h4 th:text="|${data.wattageUsage} watt|"></h4>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Price</h3>
                <h4 th:text="${#strings.replace(#numbers.formatDecimal(data.price,0,'POINT',2,'COMMA'),',00', '') }+' EURO'"></h4>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5 bottom-margin">
            <a class="button btn btn-secondary" th:href="@{|/components/storage/${previousId}|}"><<</a>
            <a class="button btn btn-secondary" th:href="@{|/components|}">Go back</a>
            <a class="button btn btn-secondary" th:href="@{|/components/storage/${nextId}|}">>></a>
        </div>
    </div>
</main>

<main th:object="${data}" th:unless="${data}">
    <h3>No data found.</h3>
    <a class="button btn btn-primary mt-5" th:href="@{|/templates/components|}">Go back</a>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</html>