<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Systeem bouwer')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Assembleer uw PC</h1>
<h2>Aan de slag</h2>
<p>
    Je kunt een computer bouwen door een processor, moederbord, RAM en andere onderdelen te selecteren die compatibel zijn
    met elkaar.
    Om een build op te slaan, moet je eerst een account registreren.
</p>

<main class="container">
    <h2>Build a New PC</h2>

    <form th:action="@{/builder}" th:object="${pcBuild}" method="post">
        <div class="form-group">
            <label for="buildName">Build Name:</label>
            <input type="text" id="buildName" th:field="${buildName}" class="form-control" required>
        </div>

        <!-- CPU Selection -->
        <div class="form-group">
            <label for="selectedCPU">Select Processor:</label>
            <select id="selectedCPU" th:field="${selectedCPU}" class="form-control" multiple>
                <option th:each="cpu : ${allCPUs}" th:value="${cpu.id}" th:text="${cpu.name}"></option>
            </select>
        </div>

        <!-- MOBO Selection -->
        <div class="form-group">
            <label for="selectedMOBO">Select Motherboard:</label>
            <select id="selectedMOBO" th:field="${selectedMOBO}" class="form-control" multiple>
                <option th:each="mobo : ${allMOBOS}" th:value="${mobo.id}" th:text="${mobo.name}"></option>
            </select>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-4">Create Build</button>
    </form>
</main>



</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>