<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Account')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<main class="container">
    <div class="d-flex justify-content-center align-items-center">
        <img th:src="@{/img/uwpcbe7.png}" alt="Logo" width="200" height="100" class="">
    </div>
    <div class="text-center mb-5">
        <h2 class="m-5">Uitloggen?</h2>
        <form th:action="@{/user/logout}" method="post">
            <div class="button-container">
                <div class="row">
                    <input type="submit" value="JA" class="btn-custom">
                    <a th:href="@{/account}" class="btn-custom mt-5">NEE</a>
                </div>
            </div>
        </form>

    </div>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>