<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="~{fragments/header :: headerelement('Uw PCs')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Bekijk uw PC's</h1>
<main th:if="${!pcBuilds.isEmpty()}" class="container">
    <h2>Al uw persoonlijke computers</h2>
    <div class="row">
        <!-- Display all the PC builds -->
        <div sec:authorize="isAuthenticated()" th:each="pcBuild : ${pcBuilds}" class="col-md-6 ">
            <div class="d-flex align-items-center justify-content-between component-box"
                 title="Klik hier om deze build te bekijken">
                <img th:src="@{/img/icons/gradient/computer1.png}" alt="cpu" width="50" height="50" class="m-3">
                <h3 class="flex-grow-1" th:text="${pcBuild.buildName}">PC Build Name</h3>
                <a type="button" class="btn-custom" th:href="@{/user/viewbuild/{id}(id=${pcBuild.getBuildId()})}">BEKIJKEN</a>
            </div>
        </div>
    </div>
    <h5 th:text="|U heeft in totaal ${pcBuilds.size()} computer(s).|" class="text-center bottom-margin"></h5>
    <div class="text-center border-price">
        <div class="button-container">
            <a class="btn-custom" th:href="@{/user/addbuild}" role="button">NIEUWE PC MAKEN</a>
        </div>
    </div>
</main>
<div class="bottom-margin"></div>

<main th:if="${pcBuilds.isEmpty()}" class="container">
    <div class="mt-5 text-center">
        <h2>U heeft nog geen computers aangemaakt.</h2>
        <a class="btn-custom mt-5" th:href="@{/user/addbuild}" role="button">NIEUWE PC MAKEN</a>
    </div>
    <div class="bottom-margin"></div>
</main>


<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
