<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('PC Builds List')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>My PC Builds</h1>

<main class="container">
    <h2>Your Saved PC Builds</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Build Name</th>
            <th>CPU(s)</th>
            <th>Motherboard(s)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pcBuild : ${pcBuilds}">
            <td th:text="${pcBuild.buildName}"></td>
            <td>
                <ul>
                    <li th:each="cpu : ${pcBuild.selectedCPU}" th:text="${cpu.name}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="mobo : ${pcBuild.selectedMOBO}" th:text="${mobo.name}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/editbuild/{id}(id=${pcBuild.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/deletebuild/{id}(id=${pcBuild.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a href="/addbuild" class="btn btn-primary">Add New Build</a>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
