<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Account')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<main class="container">
    <div class="d-flex justify-content-center align-items-center">
        <img th:src="@{/img/uwpcbe7.png}" alt="Logo" width="200" height="100" class="">
    </div>
    <div class="text-center mb-5">
        <h2 class="m-5">Registreren</h2>
        <form th:action="@{/user/register}" method="post">
            <div class="form-group">
                <label class="build-text" for="username">Gebruikersnaam:</label>
                <input type="text" class="form-box" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label class="build-text" for="password">Wachtwoord:</label>
                <input type="password" class="form-box" id="password" name="password" required>
            </div>
            <div class="button-container">
                <div class="row">
                    <button type="submit" class="btn-custom mt-5">Registreren</button>
                    <p class="mt-5">Al geregistreerd? </p>
                    <a class="btn-custom" th:href="@{|/user/login|}">Login</a>
                </div>
            </div>
        </form>
    </div>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>