<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('PC Build Bekijken')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Bekijk uw PC's</h1>
<main class="container">
    <h2 th:text="${pcBuild.buildName}">Build Name</h2>

    <!-- Display error message if any -->
    <div th:if="${errorMessage}" class="alert-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <div class="row">
        <h3>Componenten</h3>

        <!-- Processor -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/cpu.png}" alt="cpu" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Processor</h5>
                <h4 th:text="${pcBuild.selectedCPU.name}" class="mb-3"></h4>
                <a th:href="@{/components/processor/{id}(id=${pcBuild.selectedCPU.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze processor te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">

                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedCPU.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>
            </div>
        </div>

        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/motherboard.png}" alt="mobo" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Moederbord</h5>
                <h4 th:text="${pcBuild.selectedMOBO.name}"></h4>
                <a th:href="@{/components/processor/{id}(id=${pcBuild.selectedCPU.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze processor te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedMOBO.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>

            </div>
        </div>

        <!-- GPU -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/video-card.png}" alt="gpu" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>GPU</h5>
                <h4 th:text="${pcBuild.selectedGPU.name}" class="mb-3"></h4>
                <a th:href="@{/components/graphiccard/{id}(id=${pcBuild.selectedGPU.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze GPU te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedGPU.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>
            </div>
        </div>

        <!-- RAM -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/ram-memory.png}" alt="ram" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>RAM</h5>
                <h4 th:text="${pcBuild.selectedMemory.name}" class="mb-3"></h4>
                <a th:href="@{/components/memory/{id}(id=${pcBuild.selectedMemory.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze RAM te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedMemory.price * pcBuild.memoryQuantities,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p th:text="|Aantal: ${pcBuild.memoryQuantities}|"></p>
            </div>
        </div>

        <!-- Case -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/computer.png}" alt="case" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Case</h5>
                <h4 th:text="${pcBuild.selectedCase.name}" class="mb-3"></h4>
                <a th:href="@{/components/case/{id}(id=${pcBuild.selectedCase.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze case te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedCase.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>
            </div>
        </div>

        <!-- Cooler -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/fan.png}" alt="cooler" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Cooler</h5>
                <h4 th:text="${pcBuild.selectedCooler.name}" class="mb-3"></h4>
                <a th:href="@{/components/cooler/{id}(id=${pcBuild.selectedCooler.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze cooler te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedCooler.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>
            </div>
        </div>

        <!-- Storage -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/ssd.png}" alt="storage" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Storage</h5>
                <h4 th:text="${pcBuild.selectedStorage.name}" class="mb-3"></h4>
                <a th:href="@{/components/storage/{id}(id=${pcBuild.selectedStorage.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze storage te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedStorage.price * pcBuild.storageQuantities,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p th:text="|Aantal: ${pcBuild.storageQuantities}|"></p>
            </div>
        </div>

        <!-- Power Supply -->
        <div class="d-flex align-items-center component-box">
            <div class="me-3">
                <img th:src="@{/img/icons/gradient/power.png}" alt="power" width="40" height="40" class="m-3">
            </div>
            <div class="flex-grow-1 small">
                <h5>Power Supply</h5>
                <h4 th:text="${pcBuild.selectedPowerSupply.name}" class="mb-3"></h4>
                <a th:href="@{/components/powersupply/{id}(id=${pcBuild.selectedPowerSupply.id})}" class="btn-custom small"
                   th:text="'DETAILS'" title="Klik hier om details over deze voeding te bekijken"></a>
            </div>
            <div class="d-flex flex-column align-items-end ms-auto">
                <h4 th:text="|${'€ '}${#strings.replace(#numbers.formatDecimal(pcBuild.selectedPowerSupply.price,0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
                <p>Aantal: 1</p>
            </div>
        </div>

        <div class="text-center border-price">
            <h3>Totale prijs: </h3>
            <h4 th:text="|${'&euro; '}${#strings.replace(#numbers.formatDecimal(pcBuild.calculateTotalPrice(),0,'POINT',2,'COMMA'),',00', ',00')}|"></h4>
        </div>
        <div class="mt-5">
            <h5>Extra informatie over uw PC</h5>
                <strong><p class="mt-3">Max wattage gebruik: </p></strong>
                <p th:text="|${totalWattage} watt|"></p>
            </div>
            <div class="d-flex justify-content-between mt-5 bottom-margin">
                <a th:href="@{/user/editbuild/{id}(id=${pcBuild.getBuildId()})}" class="btn-custom">BEWERKEN</a>
                <a th:href="@{/user/pcbuilds}" class="btn-custom">TERUG</a>
                <a th:href="@{/user/deletebuild/{id}(id=${pcBuild.getBuildId()})}" class="btn-custom"
                   onclick="return confirm('Weet je zeker dat je deze build wilt verwijderen?')">Verwijderen</a>
            </div>
        </div>


    </div>
    <div class="bottom-margin"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
