<footer th:fragment="footer" class="footer py-3 fixed-bottom">
    <div class="container">
        <div class="d-flex justify-content-between">
            <img th:src="@{/img/uwpcbe6.png}" alt="Logo" width="120" height="50" class="d-inline-block align-text-top">
<!--            <p>Stel een persoonlijke computer samen met onze eigen systeemconfigurator.</p>-->
            <p>Deze website is momenteel in ontwikkeling voor leer doeleinden.</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</footer>
