<footer th:fragment="footer" class="footer py-3 fixed-bottom">
    <div class="container">
        <div class="d-flex justify-content-between">
            <p><i>UW PC.be</i></p>
            <p>Stel een persoonlijke computer samen met onze eigen systeemconfigurator.</p>
            <p>Icons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
        </div>
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"-->
<!--            integrity="sha384-oBqDVmMz4fnFO9gyb4FQ5P2nd2EP6BDK2A+MF3oN5Ll7TS4ZBOfmjE6b5z3MRBuA"-->
<!--            crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</footer>
