<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('CPU cooling details')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<main th:object="${cooling}" th:if="${cooling}">
    <h1>CPU Cooler Specifications</h1>
    <div class="container">
        <h2 th:text="${cooling.name}"></h2>

        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Manufacturer</h3>
                <h4 th:text="${cooling.manufacturer}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Watercooling</h3>
                <h4 th:if="${cooling.waterCooling}">Yes</h4>
                <h4 th:unless="${cooling.waterCooling}">No</h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Fan Sizes</h3>
                <h4 th:text="|${cooling.fanSize} mm|"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Radiator Size</h3>
                <h4 th:text="${cooling.radiatorSize != null ? cooling.radiatorSize + ' mm' : 'No radiator'}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Socket Type</h3>
                <h4 th:text="${cooling.socketType}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Color</h3>
                <h4 th:text="${cooling.color}"></h4>
            </div>
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>RGB</h3>
                <h4 th:if="${cooling.RGB}">Has RGB</h4>
                <h4 th:unless="${cooling.RGB}">No RGB</h4>
            </div>

        </div>
        <div class="row p-2">
            <div class="col-6 col-sm-4 p-1 m-1">
                <h3>Price</h3>
                <h4 th:text="${#strings.replace(#numbers.formatDecimal(cooling.price,0,'POINT',2,'COMMA'),',00', '') }+' EURO'"></h4>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5 bottom-margin">
            <a class="btn-custom" th:href="@{|/components/cooling/${previousId}|}"><<</a>
            <a class="btn-custom" th:href="@{|/components|}">GA TERUG</a>
            <a class="btn-custom" th:href="@{|/components/cooling/${nextId}|}">>></a>
        </div>
    </div>
</main>

<main th:object="${cooling}" th:unless="${cooling}">
    <h3>No cooling found.</h3>
    <a class="btn-custom mt-5" th:href="@{|/components|}">GA TERUG</a>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</html>