<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Computers, assemble!')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<main class="container">
    <div class="container">
        <img th:src="@{/img/uwpcbe7.png}" alt="Logo" width="150" height="70" class="">

        <div class="row text-center m-5">
            <a class="btn-custom col m-4 " th:href="@{/login}" role="button">INLOGGEN</a>
            <a class="btn-custom col m-4 " th:href="@{/register}" role="button">REGISTREREN</a>
        </div>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>