<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Computers, assemble!')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>
<h1>Components in stock</h1>
<p>On this page you can find all available computer components in stock.</p>
<p>You can filter by component type, name, manufacturer, or price. To see more details about a components click on a
    desired component type to expand it and
    click on the component name.</p>
<div class="button-container d-flex justify-content-center mb-5">
    <button class="btn btn-secondary" data-toggle="collapse" data-target=".collapse">Show all</button>
</div>

<main class="container">
    <div class="row">
        <div class="col-md-6 btn-custom">
            <a href="#cpu-list" data-toggle="collapse" title="Click to view the list of processors">
                <h2>Processors</h2>
                <div class="collapse show" id="cpu-list">
                    <div th:each="CPU : ${allProcessors}">
                        <ul class="list">
                            <li><a th:href="@{/processors/{id}(id=${CPU.id})}" th:text="${CPU.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>

        <div class="col-md-6 btn-custom">
            <a href="#mobo-list" data-toggle="collapse" title="Click to view the list of motherboards">
                <h2>Motherboards</h2>
                <div class="collapse show" id="mobo-list">
                    <div th:each="MOBO : ${allMotherboards}">
                        <ul class="list">
                            <li><a th:href="@{/motherboards/{id}(id=${MOBO.id})}" th:text="${MOBO.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>
    </div>


    <div class="row mt-3">
        <div class="col-md-6 btn-custom">
            <a href="#memory-list" data-toggle="collapse" title="Click to view the list of memory">
                <h2>Memory</h2>
                <div class="collapse show" id="memory-list">
                    <div th:each="MEMORY : ${allMemory}">
                        <ul class="list">
                            <li><a th:href="@{/memory/{id}(id=${MEMORY.id})}" th:text="${MEMORY.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>

        <div class="col-md-6 btn-custom">
            <a href="#gpu-list" data-toggle="collapse" title="Click to view the list of graphic cards">
                <h2>Graphic Cards</h2>
                <div class="collapse show" id="gpu-list">
                    <div th:each="GPU : ${allGraphicCards}">
                        <ul class="list">
                            <li><a th:href="@{/graphiccards/{id}(id=${GPU.id})}" th:text="${GPU.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>
    </div>


    <div class="row mt-3">
        <div class="col-md-6 btn-custom">
            <a href="#storage-list" data-toggle="collapse" title="Click to view the list of storage">
                <h2>Storage</h2>
                <div class="collapse show" id="storage-list">
                    <div th:each="STORAGE : ${allStorage}">
                        <ul class="list">
                            <li><a th:href="@{/storage/{id}(id=${STORAGE.id})}" th:text="${STORAGE.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>

        <div class="col-md-6 btn-custom" title="Click to view the list of power supplies">
            <a href="#psu-list" data-toggle="collapse">
                <h2>Power Supplies</h2>
                <div class="collapse show" id="psu-list">
                    <div th:each="PSU : ${allPowerSupplies}">
                        <ul class="list">
                            <li><a th:href="@{/powersupplies/{id}(id=${PSU.id})}" th:text="${PSU.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>
    </div>


    <div class="row mt-3">
        <div class="col-md-6 btn-custom">
            <a href="#cases-list" data-toggle="collapse" title="Click to view the list of cases">
                <h2>Cases</h2>
                <div class="collapse show" id="cases-list">
                    <div th:each="CASE : ${allCases}">
                        <ul class="list">
                            <li><a th:href="@{/cases/{id}(id=${CASE.id})}" th:text="${CASE.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>

        <div class="col-md-6 btn-custom">
            <a href="#cooling-list" data-toggle="collapse" title="Click to view the list of cooling">
                <h2>Cooling</h2>
                <div class="collapse show" id="cooling-list">
                    <div th:each="COOLING : ${allCooling}">
                        <ul class="list">
                            <li><a th:href="@{/cooling/{id}(id=${COOLING.id})}" th:text="${COOLING.name}"></a></li>
                        </ul>
                    </div>
                </div>
            </a></div>
    </div>
    <div class="bottom-margin"></div>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
