<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Computers, assemble!')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<h1>Components in stock</h1>
<h2>Processors</h2>
<div class="container p-2" th:each="CPU : ${allProcessors}">
    <ul class="list">
        <li><a th:href="@{/processors/{id}(id=${CPU.id})}" th:text="${CPU.name}"></a></li>
    </ul>
</div>

<h2>Motherboards</h2>
<div class="container p-2" th:each="MOBO : ${allMotherboards}">
    <ul class="list">
        <li><a th:href="@{/processors/{id}(id=${MOBO.id})}" th:text="${MOBO.name}"></a></li>
    </ul>
</div>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>