<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Koeling')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Koeling</h1>
<p>Op deze pagina vind je alle beschikbare koelingsoplossingen die momenteel op voorraad zijn.</p>
<p>Je kunt zoeken en filteren op naam, fabrikant, socket-type, ventilatorformaat, radiateurformaat of prijs. Klik op de
    naam van een component om meer details te zien.</p>

<main class="container">
    <h2>Koelingsoplossingen in stock</h2>
    <div class="container">
        <div class="row">

            <div class="col-md-2 mt-5">
                <!--Search-->
                <div class="">
                    <form th:action="@{|/lists/coolings|}" method="get" class="">
                        <span>
                        <label><input name="searchWord" class="filter-box" placeholder="Zoek..."></label>
                        <div class="container row small">
                        <button type="submit" class="btn-custom small mt-2">ZOEKEN</button>
                        </div>
                        </span>
                    </form>
                </div>

                <!--Filters-->
                <div id="filterSection">
                    <form th:action="@{|/lists/coolings|}" method="get" class="col text-start">
                        <h5 class="mt-4">Filter op</h5>

                        <!-- Manufacturer Filter -->
                        <label for="filterManufacturer" class="form-label mt-2">Fabrikant</label>
                        <div class="container input-group row">
                            <select id="filterManufacturer" name="filterManufacturer" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allCooling}"
                                        th:value="${p.manufacturer}"
                                        th:text="${p.manufacturer}"
                                ></option>
                            </select>
                        </div>

                        <!-- Socket Type Filter -->
                        <label for="filterSocketType" class="form-label mt-2">Socket Type</label>
                        <div class="container input-group row">
                            <select id="filterSocketType" name="filterSocketType" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allCooling}"
                                        th:value="${p.socketType}"
                                        th:text="${p.socketType}"
                                ></option>
                            </select>
                        </div>

                        <!-- Fan Size Filter -->
                        <label for="filterFanSize" class="form-label mt-2">Ventilatorformaat</label>
                        <div class="container input-group row">
                            <select id="filterFanSize" name="filterFanSize" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allCooling}"
                                        th:value="${p.fanSize}"
                                        th:text="${p.fanSize}"
                                ></option>
                            </select>
                        </div>

                        <!-- Radiator Size Filter -->
                        <label for="filterRadiatorSize" class="form-label mt-2">Radiateurformaat</label>
                        <div class="container input-group row">
                            <select id="filterRadiatorSize" name="filterRadiatorSize" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allCooling}"
                                        th:value="${p.radiatorSize}"
                                        th:text="${p.radiatorSize}"
                                ></option>
                            </select>
                        </div>

                        <div class="container row mt-4 small">
                            <button type="submit" class="btn-custom small">TOEPASSEN</button>
                        </div>
                    </form>
                </div>

                <form th:action="@{|/lists/coolings|}" method="get" class="col text-start">
                    <h5 class="mt-5">Stel Prijsklasse In</h5>
                    <label for="filterMinPrice" class="form-label mt-2">Minimum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMinPrice" name="filterMinPrice" class="filter-box" min="0"
                               max="1000" step="10" value="0" oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                    </div>
                    <label for="filterMaxPrice" class="form-label mt-2">Maximum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMaxPrice" name="filterMaxPrice" class="filter-box" min="0"
                               max="1000" step="10" value="1000"
                               oninput="this.nextElementSibling.value = this.value">
                        <output>1000</output>
                    </div>
                    <div class="container row mt-4 small">
                        <button type="submit" class="btn-custom small">PRIJS INSTELLEN</button>
                    </div>
                </form>

                <div class="container">
                    <h6 class="mt-5 small">Toegepaste filters:</h6>
                    <div class="applied-filters text-start">
                        <ul th:if="${not #strings.isEmpty(param.searchWord)}"
                            th:text="|Searched for: ${param.searchWord}|"></ul>
                        <li th:if="${not #strings.isEmpty(param.filterManufacturer)}"
                            th:text="|Manufacturer: ${param.filterManufacturer}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterSocketType)}"
                            th:text="|Socket Type: ${param.filterSocketType}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterFanSize)}"
                            th:text="|Fan Size: ${param.filterFanSize}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterRadiatorSize)}"
                            th:text="|Radiator Size: ${param.filterRadiatorSize}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMinPrice)}"
                            th:text="|Min Price: € ${param.filterMinPrice}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMaxPrice)}"
                            th:text="|Max Price: € ${param.filterMaxPrice}|"></li>
                    </div>

                    <div class="small">
                        <a th:href="@{|/lists/coolings|}" class="btn-custom small">FILTERS WISSEN</a>
                    </div>
                </div>
            </div>
            <!--Results-->
            <div class="col-md-9">
                <h3>Resultaten</h3>
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Socket Type</th>
                        <th>Waterkoeling?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="COOLING : ${filteredCooling}">
                        <td th:text="${COOLING.name}"></td>
                        <td th:text="${COOLING.socketType}"></td>
                        <td class="text-center" th:text="${COOLING.waterCooling} ? 'Ja' : 'Nee'"></td>
                        <td>
                            <a th:href="@{/components/cooling/{id}(id=${COOLING.id})}" class="btn-custom"
                               Style="margin-left: 50px" th:text="'DETAILS'"
                               title="Klik hier om details over deze processor te bekijken"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom-margin"></div>
    </div>
</main>

<div class="bottom-margin"></div>

</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
