<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Computers, assemble!')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<!--<h1>Welkom bij <i>UW PC</i> !</h1>-->
<main class="container">
    <h2>Oops, er is iets fout gegaan.</h2>
    <a class="btn-custom" th:href="@{|/home|}">Klik hier om terug naar home te gaan.</a>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>