<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Grafische Kaarten')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Grafische Kaarten</h1>
<p>Op deze pagina vind je alle beschikbare grafische kaarten die momenteel op voorraad zijn.</p>
<p>Je kunt zoeken en filteren op naam, fabrikant, chipset, geheugencapaciteit of prijs. Klik op de knop 'details' van een
    component om meer informatie te zien.</p>

<main class="container">
    <h2>Grafische Kaarten in stock</h2>
    <div class="container">
        <div class="row">

            <div class="col-md-2 mt-5">
                <!--Search-->
                <div class="">
                    <form th:action="@{|/lists/graphiccards|}" method="get" class="">
                        <span>
                        <label><input name="searchWord" class="filter-box" placeholder="Zoek..."></label>
                        <div class="container row small">
                        <button type="submit" class="btn-custom small mt-2">ZOEKEN</button>
                        </div>
                        </span>
                    </form>
                </div>

                <!--Filters-->
                <div id="filterSection">
                    <form th:action="@{|/lists/graphiccards|}" method="get" class="col text-start">
                        <h5 class="mt-4">Filter op</h5>

                        <!-- Manufacturer Filter -->
                        <label for="filterManufacturer" class="form-label mt-2">Fabrikant</label>
                        <div class="container input-group row">
                            <select id="filterManufacturer" name="filterManufacturer" class="filter-box">
                                <option value="">----</option>
                                <option th:each="g : ${allGraphicCards}"
                                        th:value="${g.manufacturer}"
                                        th:text="${g.manufacturer}"
                                ></option>
                            </select>
                        </div>

                        <!-- Chipset Filter -->
                        <label for="filterChipset" class="form-label mt-2">Chipset</label>
                        <div class="container input-group row">
                            <select id="filterChipset" name="filterChipset" class="filter-box">
                                <option value="">----</option>
                                <option th:each="g : ${allGraphicCards}"
                                        th:value="${g.chipset}"
                                        th:text="${g.chipset}"
                                ></option>
                            </select>
                        </div>

                        <!-- Memory Capacity Filter -->
                        <label for="filterMemoryCapacity" class="form-label mt-2">Geheugencapaciteit</label>
                        <div class="container input-group row">
                            <select id="filterMemoryCapacity" name="filterMemoryCapacity" class="filter-box">
                                <option value="">----</option>
                                <option th:each="g : ${allGraphicCards}"
                                        th:value="${g.memoryCapacity}"
                                        th:text="${g.memoryCapacity}"
                                ></option>
                            </select>
                        </div>

                        <!-- Interface Type Filter -->
                        <label for="filterInterfaceType" class="form-label mt-2">Interface Type</label>
                        <div class="container input-group row">
                            <select id="filterInterfaceType" name="filterInterfaceType" class="filter-box">
                                <option value="">----</option>
                                <option th:each="g : ${allGraphicCards}"
                                        th:value="${g.interfaceType}"
                                        th:text="${g.interfaceType}"
                                ></option>
                            </select>
                        </div>

                        <div class="container row mt-4 small">
                            <button type="submit" class="btn-custom small">TOEPASSEN</button>
                        </div>
                    </form>
                </div>

                <form th:action="@{|/lists/graphiccards|}" method="get" class="col text-start">
                    <h5 class="mt-5">Stel Prijsklasse In</h5>
                    <label for="filterMinPrice" class="form-label mt-2">Minimum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMinPrice" name="filterMinPrice" class="filter-box" min="0"
                               max="1000" step="10" value="0" oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                    </div>
                    <label for="filterMaxPrice" class="form-label mt-2">Maximum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMaxPrice" name="filterMaxPrice" class="filter-box" min="0"
                               max="1000" step="10" value="1000"
                               oninput="this.nextElementSibling.value = this.value">
                        <output>1000</output>
                    </div>
                    <div class="container row mt-4 small">
                        <button type="submit" class="btn-custom small">PRIJS INSTELLEN</button>
                    </div>
                </form>

                <div class="container">
                    <h6 class="mt-5 small">Toegepaste filters:</h6>
                    <div class="applied-filters text-start">
                        <ul th:if="${not #strings.isEmpty(param.searchWord)}"
                            th:text="|Searched for: ${param.searchWord}|"></ul>
                        <li th:if="${not #strings.isEmpty(param.filterManufacturer)}"
                            th:text="|Manufacturer: ${param.filterManufacturer}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterChipset)}"
                            th:text="|Chipset: ${param.filterChipset}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMemoryCapacity)}"
                            th:text="|Memory Capacity: ${param.filterMemoryCapacity}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterInterfaceType)}"
                            th:text="|Interface Type: ${param.filterInterfaceType}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMinPrice)}"
                            th:text="|Min Price: ${'&euro;'} ${param.filterMinPrice}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMaxPrice)}"
                            th:text="|Max Price: ${'&euro;'} ${param.filterMaxPrice}|"></li>
                    </div>

                    <div class="small">
                        <a th:href="@{|/lists/graphiccards|}" class="btn-custom small">FILTERS WISSEN</a>
                    </div>
                </div>
            </div>
            <!--Results-->
            <div class="col-md-9">
                <h3>Resultaten</h3>
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>VRAM</th>
                        <th>Snelheid</th>
                        <th>Prijs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="GPU : ${filteredGraphicCards}">
                        <td th:text="${GPU.name}"></td>
                        <td th:text="${GPU.memoryCapacity} + ' GB'"></td>
                        <td th:text="${GPU.clockSpeed}"></td>
                        <td th:text="|${'&euro; '}${GPU.price}|"></td>
                        <td>
                            <a th:href="@{/components/graphiccard/{id}(id=${GPU.id})}" class="btn-custom"
                               Style="margin-left: 50px" th:text="'DETAILS'"
                               title="Klik hier om details over deze processor te bekijken"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom-margin"></div>
    </div>
</main>

<div class="bottom-margin"></div>

</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
