<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Computers, assemble!')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1 class="gradient-text">Welcome</h1>
<h2>Create a computer using the PC Builder</h2>
<!--<img th:src="@{/img/banner.jpeg}" alt="Banner">-->
<div class="d-flex justify-content-left m-4">
<button type="button" class="btn btn-warning pb-3 pt-3"><a th:href="@{/builder}">Build now</a>
  </button>
</div>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>