<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: headerelement('Welkom bij uwPC.be!')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1 sec:authorize="isAuthenticated()" th:text="|Welkom terug ${#authentication.name}!|"></h1>

<h1 sec:authorize="isAnonymous()">Welkom bij UW PC!</h1>
<main class="container">
    <h2>De ultieme bestemming voor uw Persoonlijke Computer</h2>
    <div class="row">
        <div class="intro-container col">
            <p>Wij geloven dat elke individu recht heeft op een computer die past bij zijn of haar unieke behoeften en
                persoonlijkheid. Of je nu een gamer bent die op zoek is naar de ultieme prestaties, een creatieve
                professional die krachtige graphics nodig heeft, of gewoon een betrouwbare machine voor dagelijks
                gebruik, op deze site kun je alles vinden wat je nodig hebt.</p>
            <h4>Waarom voor ons kiezen?</h4>
            <ul>
                <li>Deskundig Advies: Ons deskundige team staat klaar om je bij elke stap te helpen, zodat je de
                    perfecte componenten voor jouw op maat gemaakte computer krijgt.
                </li>
                <li>Kwaliteitsonderdelen: We gebruiken alleen de hoogste kwaliteit onderdelen van vertrouwde merken, wat
                    zorgt voor topprestaties en duurzaamheid.
                </li>
                <li>Gepersonaliseerde Ervaring: Pas je computer aan naar jouw exacte specificaties. Van de CPU tot de
                    behuizing, elke component wordt door jou gekozen, voor jou.
                </li>
            </ul>
            <h4>Begin vandaag met bouwen!</h4>
            <p>Klaar om je droommachine te creëren? Met ons intuïtieve bouwtool is het eenvoudig om componenten te
                selecteren en aan te passen. Bovendien staat ons klantenserviceteam altijd klaar om vragen te
                beantwoorden en assistentie te bieden.</p>
            <p>Word vandaag nog lid van de community en zet de eerste stap naar een echt gepersonaliseerde
                computerervaring. Laten we samen iets geweldigs bouwen!</p>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center mt-5">
                <img th:src="@{/img/banner.jpeg}" alt="Banner" width="450" height="250">
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn-custom">
                    <a th:href="@{/configurator}" style="color: inherit; text-decoration: none;">ASSEMBLEER UW PC</a>
                </button>
            </div>
        </div>
    </div>
    <div class="bottom-margin"></div>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>