<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('PC Build Toevoegen')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1 th:text="${isEditMode} ? 'Beheer uw PC' : 'Assembleer uw PC'"></h1>

<main class="container">
    <h2>Computer</h2>
    <p th:text="${isEditMode} ? 'Beheer uw computer, maak aanpassingen aan uw componenten hieronder.' : 'Maak uw eigen computer, kies componenten uit de lijst hieronder. Voor meer info over een component bezoek de componenten pagina.'"></p>

    <!-- Display error message if any -->
    <div th:if="${errorMessage}" class="alert-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{${isEditMode} ? '/editbuild/' + ${pcBuild.getBuildId()} : '/addbuild'}" method="post">
        <!-- PC Build Name -->
        <div class="form-group">
            <label for="pcBuildName" class="build-text">Naam van uw PC</label>
                <input type="text" id="pcBuildName" name="buildName" class="form-box" th:field="${pcBuild.buildName}"
                       required>
        </div>

        <!-- CPU Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedCPU" class="build-text">Wijzig de processor</label>
            <select id="selectedCPU" name="selectedCPU" class="form-box">
                <option th:each="CPU : ${allProcessors}"
                        th:value="${CPU.id}"
                        th:selected="${isEditMode ? CPU.id == pcBuild.selectedCPU.id : false}"
                        th:text="${CPU.name}">
                </option>
            </select>
        </div>
        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddCPU" class="build-text">Kies een processor</label>
            <p>De processor is als de hersenen van je pc. Het verwerkt informatie en geeft instructies aan de rest van
                de componenten, net zoals je hersenen alles coördineren in je lichaam.</p>
            <select id="selectedAddCPU" name="selectedCPU" class="form-box">
                <option value="">-----</option>
                <option th:each="CPU : ${allProcessors}"
                        th:value="${CPU.id}"
                        th:text="${CPU.name}">
                </option>
            </select>
        </div>

        <!-- Moederbord Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedMOBO" class="build-text">Wijzig het moederbord</label>
            <select id="selectedMOBO" name="selectedMOBO" class="form-box">
                <option th:each="mobo : ${allMotherboards}"
                        th:value="${mobo.id}"
                        th:selected="${isEditMode ? mobo.id == pcBuild.selectedMOBO.id : false}"
                        th:text="${mobo.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddMOBO" class="build-text">Kies het moederbord</label>
            <p>Het moederbord is vergelijkbaar met het zenuwstelsel. Het verbindt alle componenten en zorgt ervoor dat
                ze met elkaar communiceren, zoals je zenuwen signalen van je hersenen naar je lichaam sturen.</p>
            <select id="selectedAddMOBO" name="selectedMOBO" class="form-box">
                <option value="">-----</option>
                <option th:each="mobo : ${allMotherboards}"
                        th:value="${mobo.id}"
                        th:text="${mobo.name}">
                </option>
            </select>
        </div>

        <!-- GPU Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedGPU" class="build-text">Wijzig de grafische kaart</label>
            <select id="selectedGPU" name="selectedGPU" class="form-box">
                <option th:each="gpu : ${allGPUs}"
                        th:value="${gpu.id}"
                        th:selected="${isEditMode ? gpu.id == pcBuild.selectedGPU.id : false}"
                        th:text="${gpu.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddGPU" class="build-text">Kies een grafische kaart</label>
            <p>De grafische kaart werkt als de ogen van je pc. Het interpreteert en toont visuele informatie, net zoals
                je ogen beelden aan je hersenen doorgeven.</p>
            <select id="selectedAddGPU" name="selectedGPU" class="form-box">
                <option value="">-----</option>
                <option th:each="gpu : ${allGPUs}"
                        th:value="${gpu.id}"
                        th:text="${gpu.name}">
                </option>
            </select>
        </div>

        <!-- RAM Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddRAM" class="build-text">Wijzig het geheugen</label>
            <select id="selectedRAM" name="selectedMemory" class="form-box">
                <option th:each="ram : ${allMemory}"
                        th:value="${ram.id}"
                        th:selected="${isEditMode ? ram.id == pcBuild.selectedMemory.id : false}"
                        th:text="${ram.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedRAM" class="build-text">Kies een geheugen</label>
            <p>Geheugen is vergelijkbaar met je korte termijn geheugen. Het slaat tijdelijke informatie op die de
                processor snel nodig heeft, net zoals je hersenen tijdelijk informatie opslaan voor snelle toegang.</p>
            <select id="selectedAddRAM" name="selectedMemory" class="form-box">
                <option value="">-----</option>
                <option th:each="ram : ${allMemory}"
                        th:value="${ram.id}"
                        th:text="${ram.name}">
                </option>
            </select>
        </div>

        <!-- Chassis Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddChassis" class="build-text">Wijzig de behuizing</label>
            <select id="selectedChassis" name="selectedCase" class="form-box">
                <option th:each="chassis : ${allCases}"
                        th:value="${chassis.id}"
                        th:selected="${isEditMode ? chassis.id == pcBuild.selectedCase.id : false}"
                        th:text="${chassis.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedChassis" class="build-text">Kies een behuizing</label>
            <p>De behuizing is zoals het skelet van je lichaam. Het beschermt en ondersteunt de interne componenten, net
                zoals je skelet je organen beschermt en structurele ondersteuning biedt.</p>
            <select id="selectedAddChassis" name="selectedCase" class="form-box">
                <option value="">-----</option>
                <option th:each="chassis : ${allCases}"
                        th:value="${chassis.id}"
                        th:text="${chassis.name}">
                </option>
            </select>
        </div>

        <!-- Cooling Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddCooler" class="build-text">Wijzig de koeler</label>
            <select id="selectedCooler" name="selectedCooler" class="form-box">
                <option th:each="cooler : ${allCoolers}"
                        th:value="${cooler.id}"
                        th:selected="${isEditMode ? cooler.id == pcBuild.selectedCooler.id : false}"
                        th:text="${cooler.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">

            <label for="selectedCooler" class="build-text">Kies een koeler</label>
            <p>De koeling is als het ademhalingssysteem van je pc. Het houdt alles op temperatuur en voorkomt
                oververhitting.</p>
            <select id="selectedAddCooler" name="selectedCooler" class="form-box">
                <option value="">-----</option>
                <option th:each="cooler : ${allCoolers}"
                        th:value="${cooler.id}"
                        th:text="${cooler.name}">
                </option>
            </select>
        </div>

        <!-- Storage Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedStorage" class="build-text">Wijzig de opslag</label>
            <select id="selectedStorage" name="selectedStorage" class="form-box">
                <option th:each="data : ${allStorage}"
                        th:value="${data.id}"
                        th:selected="${isEditMode ? data.id == pcBuild.selectedStorage.id : false}"
                        th:text="${data.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddStorage" class="build-text">Kies een opslag</label>
            <p>Opslag is als je lange termijn geheugen. Het bewaart gegevens voor later gebruik, net zoals je hersenen
                informatie opslaan die je voor langere tijd nodig hebt.</p>
            <select id="selectedAddStorage" name="selectedStorage" class="form-box">
                <option value="">-----</option>
                <option th:each="data : ${allStorage}"
                        th:value="${data.id}"
                        th:text="${data.name}">
                </option>
            </select>
        </div>

        <!-- Power Supply Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedPowerSupply" class="build-text">Wijzig de voeding</label>
            <select id="selectedPowerSupply" name="selectedPowerSupply" class="form-box">
                <option th:each="psu : ${allPowerSupplies}"
                        th:value="${psu.id}"
                        th:selected="${isEditMode ? psu.id == pcBuild.selectedPowerSupply.id : false}"
                        th:text="${psu.name}">
                </option>
            </select>
        </div>

        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddPowerSupply" class="build-text">Kies een voeding</label>
            <p>De voeding is als je hart. Het levert energie aan alle onderdelen van je pc, net zoals je hart bloed naar
                al je organen pompt.</p>

            <select id="selectedAddPowerSupply" name="selectedPowerSupply" class="form-box">
                <option value="">-----</option>
                <option th:each="psu : ${allPowerSupplies}"
                        th:value="${psu.id}"
                        th:text="${psu.name}">
                </option>
            </select>
        </div>


        <!-- Submit Button -->
        <div class="mt-3 text-center border-price">
            <button class="btn-custom" type="submit"
                    th:text="${isEditMode} ? 'WIJZIGINGEN OPSLAAN' : 'COMPUTER AANMAKEN'"></button>
        </div>
    </form>
</main>
<div class="bottom-margin"></div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
