<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('PC Build Toevoegen')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1 th:text="${isEditMode} ? 'Beheer uw PC' : 'Assembleer uw PC'"></h1>

<main class="container">
    <h2>Computer</h2>
    <p th:text="${isEditMode} ? 'Beheer uw computer, maak aanpassingen aan uw componenten hieronder.' : 'Maak uw eigen computer, kies componenten uit de lijst hieronder. Voor meer info over een component bezoek de componenten pagina.'"></p>

    <!-- Display error message if any -->
    <div th:if="${errorMessage}" class="alert-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{${isEditMode} ? '/editbuild/' + ${pcBuild.id} : '/addbuild'}" method="post">
        <!-- PC Build Name -->
        <div class="form-group row">
            <div class="col-2">
                <label for="pcBuildName" class="build-text">Naam van uw PC</label>
                <input type="text" id="pcBuildName" name="buildName" class="form-box" th:field="${pcBuild.buildName}" required>
            </div>
        </div>

        <!-- CPU Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedCPU" class="build-text">Kies een processor</label>
            <p>De processor is het brein van uw pc. Het doet al het denkwerk.</p>
            <select id="selectedCPU" name="selectedCPU" class="form-box">
                <option th:each="CPU : ${allProcessors}"
                        th:value="${CPU.id}"
                        th:selected="${CPU.id == pcBuild.selectedCPU.id}"
                        th:text="${CPU.name}">
                </option>
            </select>
        </div>
        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddCPU" class="build-text">Kies een processor</label>
            <p>De processor is het brein van uw pc. Het doet al het denkwerk.</p>
            <select id="selectedAddCPU" name="selectedCPU" class="form-box">
                <option th:each="CPU : ${allProcessors}"
                        th:value="${CPU.id}"
                        th:text="${CPU.name}">
                </option>
            </select>
        </div>

        <!-- Moederbord Selection -->
        <div th:if="${isEditMode}" class="form-group mt-3">
            <label for="selectedMOBO" class="build-text">Kies een moederbord</label>
            <p>De processor is het hart van uw pc. Alles stroomt hierdoor. </p>
            <select id="selectedMOBO" name="selectedMOBO" class="form-box">
                <option th:each="mobo : ${allMotherboards}"
                        th:value="${mobo.id}"
                        th:selected="${mobo.id == pcBuild.selectedMOBO.id}"
                        th:text="${mobo.name}">
                </option>
            </select>
        </div>
        <div th:unless="${isEditMode}" class="form-group mt-3">
            <label for="selectedAddMOBO" class="build-text">Kies een moederbord</label>
            <p>De processor is het hart van uw pc. Alles stroomt hierdoor. </p>
            <select id="selectedAddMOBO" name="selectedMOBO" class="form-box">
                <option th:each="mobo : ${allMotherboards}"
                        th:value="${mobo.id}"
                        th:text="${mobo.name}">
                </option>
            </select>
        </div>

        <!-- GPU Selection -->
        <div class="form-group mt-3">
            <label for="selectedGPU" class="build-text">Kies een grafische kaart</label>
            <p>De grafische kaart is verantwoordelijk voor het weergeven van beelden op je scherm.</p>
            <select id="selectedGPU" name="selectedGPU" class="form-box">
                <option th:each="gpu : ${allGPUs}"
                        th:value="${gpu.id}"
                        th:text="${gpu.name}">
                </option>
            </select>
        </div>

        <!-- RAM Selection -->
        <div class="form-group mt-3">
            <label for="selectedRAM" class="build-text">Kies een geheugen</label>
            <p>Geheugen is belangrijk voor de snelheid van je computer.</p>
            <select id="selectedRAM" name="selectedMemory" class="form-box">
                <option th:each="ram : ${allMemory}"
                        th:value="${ram.id}"
                        th:text="${ram.name}">
                </option>
            </select>
        </div>

        <!-- Chassis Selection -->
        <div class="form-group mt-3">
            <label for="selectedChassis" class="build-text">Kies een behuizing</label>
            <p>De behuizing beschermt je componenten en zorgt voor koeling.</p>
            <select id="selectedChassis" name="selectedCase" class="form-box">
                <option th:each="chassis : ${allCases}"
                        th:value="${chassis.id}"
                        th:text="${chassis.name}">
                </option>
            </select>
        </div>

        <!-- Cooling Selection -->
        <div class="form-group mt-3">
            <label for="selectedCooler" class="build-text">Kies een koeling</label>
            <p>Koeling is belangrijk voor het voorkomen van oververhitting van je componenten.</p>
            <select id="selectedCooler" name="selectedCooler" class="form-box">
                <option th:each="cooler : ${allCoolers}"
                        th:value="${cooler.id}"
                        th:text="${cooler.name}">
                </option>
            </select>
        </div>

        <!-- Storage Selection -->
        <div class="form-group mt-3">
            <label for="selectedStorage" class="build-text">Kies een opslag</label>
            <p>Opslag is waar je je bestanden en programma's bewaart.</p>
            <select id="selectedStorage" name="selectedStorage" class="form-box">
                <option
                        th:selected="----"
                        th:each="data : ${allStorage}"
                        th:value="${data.id}"
                        th:text="${data.name}">
                </option>
            </select>
        </div>

        <!-- Power Supply Selection -->
        <div class="form-group mt-3">
            <label for="selectedPowerSupply" class="build-text">Kies een voeding</label>
            <p>De voeding levert stroom aan alle componenten van je pc.</p>
            <select id="selectedPowerSupply" name="selectedPowerSupply" class="form-box">
                <option th:each="psu : ${allPowerSupplies}"
                        th:value="${psu.id}"
                        th:text="${psu.name}">
                </option>
            </select>
        </div>

        <!-- Submit Button -->
        <div class="mt-3">
            <button class="btn-custom" type="submit"
                    th:text="${isEditMode} ? 'WIJZIGINGEN OPSLAAN' : 'PC AANMAKEN'"></button>
        </div>
    </form>
</main>
<div class="bottom-margin"></div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
