<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Mijn PC Builds')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Uw PC Builds</h1>
<p>Bekijk en beheer je gemaakte PC builds.</p>

<main class="container">
    <h2>Uw PC's</h2>
    <div class="container">
        <div class="row">
            <!-- Display all the PC builds -->
            <div th:each="pcBuild : ${pcBuilds}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pcBuild.buildName}">PC Build Name</h5>
                        <p><strong>Processor:</strong> <span th:text="${pcBuild.selectedCPU.name}">Processor Name</span></p>
                        <p><strong>Moederbord:</strong> <span th:text="${pcBuild.selectedMOBO.name}">Motherboard Name</span></p>
<!--                        <p><strong>Graphics Card:</strong> <span th:text="${pcBuild.selectedGPU.name}">GPU Name</span></p>-->
<!--                        <p><strong>Memory:</strong> <span th:text="${pcBuild.selectedRAM.name}">RAM Name</span></p>-->
                        <p><strong>Prijs:</strong> €<span th:text="${pcBuild.price}">Price</span></p>

                        <!-- Edit and Delete buttons -->
                        <a th:href="@{/user/editbuild/{id}(id=${pcBuild.id})}" class="btn btn-primary">Bewerken</a>
                        <a th:href="@{/user/deletebuild/{id}(id=${pcBuild.id})}" class="btn btn-danger" onclick="return confirm('Weet je zeker dat je deze build wilt verwijderen?')">Verwijderen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
