<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Mijn PC Builds')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Bekijk uw PC's</h1>
<main class="container">
    <div class="row">
        <!-- Display all the PC builds -->
        <div th:each="pcBuild : ${pcBuilds}" class="col-md-6">
            <div class="d-flex align-items-center justify-content-between  mt-3"
                 title="Klik hier om deze build te bekijken">
                <img th:src="@{/img/icons/gradient/computer.png}" alt="cpu" width="40" height="40" class="m-3">
                <h2 class="flex-grow-1" th:text="${pcBuild.buildName}">PC Build Name</h2>
                <a type="button" class="btn-custom" th:href="@{/viewbuild/{id}(id=${pcBuild.getBuildId()})}">BEKIJKEN</a>
            </div>
        </div>
        <div class="bottom-margin"></div>
    </div>
    <div class="mt-5 text-center">
        <a class="btn-custom" th:href="@{/addbuild}" role="button">NIEUWE PC MAKEN</a>
    </div>
    <div class="bottom-margin"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
