<!DOCTYPE html>
<html class="h-100" lang="en">
<head th:replace="~{fragments/header :: headerelement('Opslag')}"></head>
<header th:replace="~{fragments/header :: header}"></header>

<body class="d-flex flex-column h-100">
<h1>Voeding</h1>
<p>Op deze pagina vind je alle beschikbare opslagapparaten die momenteel op voorraad zijn.</p>
<p>Je kunt zoeken en filteren op naam, fabrikant, interfacetype, opslagtype, capaciteit of prijs. Klik op de naam van
    een component om meer details te zien.</p>

<main class="container">
    <h2>Voedingen in stock</h2>
    <div class="container">
        <div class="row">

            <div class="col-md-2 mt-5">
                <!--Search-->
                <div class="">
                    <form th:action="@{|/lists/powersupplies|}" method="get" class="">
                        <span>
                        <label><input name="searchWord" class="filter-box" placeholder="Zoek..."></label>
                        <div class="container row small">
                        <button type="submit" class="btn-custom small mt-2">ZOEKEN</button>
                        </div>
                        </span>
                    </form>
                </div>

                <!-- Filters -->
                <div id="filterSection">
                    <form th:action="@{|/lists/powersupplies|}" method="get" class="col text-start">
                        <h5 class="mt-4">Filter op</h5>

                        <!-- Manufacturer Filter -->
                        <label for="filterManufacturer" class="form-label mt-2">Fabrikant</label>
                        <div class="container input-group row">
                            <select id="filterManufacturer" name="filterManufacturer" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allPowerSupplies}"
                                        th:value="${p.manufacturer}"
                                        th:text="${p.manufacturer}">
                                </option>
                            </select>
                        </div>

                        <!-- Wattage Capacity Filter -->
                        <label for="filterWattage" class="form-label mt-2">Wattage</label>
                        <div class="container input-group row">
                            <select id="filterWattage" name="filterWattage" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allPowerSupplies}"
                                        th:value="${p.wattageCapacity}"
                                        th:text="${p.wattageCapacity}">
                                </option>
                            </select>
                        </div>

                        <!-- Efficiency Filter -->
                        <label for="filterEfficiency" class="form-label mt-2">Efficiëntie</label>
                        <div class="container input-group row">
                            <select id="filterEfficiency" name="filterEfficiency" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allPowerSupplies}"
                                        th:value="${p.efficiency}"
                                        th:text="${p.efficiency}">
                                </option>
                            </select>
                        </div>

                        <!-- Form Factor Filter -->
                        <label for="filterFormFactor" class="form-label mt-2">Form Factor</label>
                        <div class="container input-group row">
                            <select id="filterFormFactor" name="filterFormFactor" class="filter-box">
                                <option value="">----</option>
                                <option th:each="p : ${allPowerSupplies}"
                                        th:value="${p.psuFormFactor}"
                                        th:text="${p.psuFormFactor}">
                                </option>
                            </select>
                        </div>

                        <div class="container row mt-4 small">
                            <button type="submit" class="btn-custom small">TOEPASSEN</button>
                        </div>
                    </form>
                </div>

                <form th:action="@{|/lists/powersupplies|}" method="get" class="col text-start">
                    <h5 class="mt-5">Stel Prijsklasse In</h5>
                    <label for="filterMinPrice" class="form-label mt-2">Minimum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMinPrice" name="filterMinPrice" class="filter-box" min="0"
                               max="1000" step="10" value="0" oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                    </div>
                    <label for="filterMaxPrice" class="form-label mt-2">Maximum</label>
                    <div class="container input-group row">
                        <input type="range" id="filterMaxPrice" name="filterMaxPrice" class="filter-box" min="0"
                               max="1000" step="10" value="1000"
                               oninput="this.nextElementSibling.value = this.value">
                        <output>1000</output>
                    </div>
                    <div class="container row mt-4 small">
                        <button type="submit" class="btn-custom small">PRIJS INSTELLEN</button>
                    </div>
                </form>

                <div class="container">
                    <h6 class="mt-5 small">Toegepaste filters:</h6>
                    <div class="applied-filters text-start">
                        <ul th:if="${not #strings.isEmpty(param.searchWord)}"
                            th:text="|Searched for: ${param.searchWord}|"></ul>
                        <li th:if="${not #strings.isEmpty(param.filterManufacturer)}"
                            th:text="|Manufacturer: ${param.filterManufacturer}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterInterfaceType)}"
                            th:text="|Interface Type: ${param.filterInterfaceType}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterStorageType)}"
                            th:text="|Storage Type: ${param.filterStorageType}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterCapacity)}"
                            th:text="|Capacity: ${param.filterCapacity}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMinPrice)}"
                            th:text="|Min Price: € ${param.filterMinPrice}|"></li>
                        <li th:if="${not #strings.isEmpty(param.filterMaxPrice)}"
                            th:text="|Max Price: € ${param.filterMaxPrice}|"></li>
                    </div>

                    <div class="small">
                        <a th:href="@{|/lists/powersupplies|}" class="btn-custom small">FILTERS WISSEN</a>
                    </div>
                </div>
            </div>

            <!--Results-->
            <div class="col-md-9">
                <h3>Resultaten</h3>
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Wattage</th>
                        <th>Efficiëntie</th>
                        <th>Prijs</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="PSU : ${filteredPowerSupplies}">
                        <td th:text="${PSU.name}"></td>
                        <td th:text="${PSU.wattageCapacity} + 'W'"></td>
                        <td th:text="${PSU.efficiency}"></td>
                        <td th:text="${PSU.price} + '€'"></td>
                        <td>
                            <a th:href="@{/components/powersupply/{id}(id=${PSU.id})}" class="btn-custom"
                               Style="margin-left: 200px" th:text="'DETAILS'"
                               title="Klik hier om details over deze processor te bekijken"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom-margin"></div>
    </div>
</main>

<div class="bottom-margin"></div>

</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
